@model WEB.Entity.CarType

@{
    ViewData["Title"] = "Details";
}


<div class="f" style="margin-left: 200px; margin-right: 200px;">
    <b style="font-size: 40px">Details</b>

<div>
    <h4>CarType</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.type_id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.type_id)
            </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.car_type_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.car_type_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.type_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>